.footer {
  // Display
  display: flex;
  justify-content: space-between;

  // Positioning
  position: relative;

  // Background
  background-color: #000;

  // Sizing
  width: 100%;

  // Spacing
  padding: 1rem;

  p {
    // Spacing
    margin: 0;

    // Text
    font-size: small;
    color: rgba(255, 255, 255, .45);

    span {
      // Text
      color: rgba(255, 255, 255, .75);
    }
  }

  .error {
    // Positioning
    position: absolute;
    right: 1rem;
    top: -100%;

    // Background
    background-color: #ff3c3c;

    // Text
    color: #fff;
    font-size: small;

    // Spacing
    padding: .5rem;

    // Border
    border-radius: .25rem;
  }
}