.header {
  // Spacing
  padding: .8rem;

  // Background
  background-color: #000;

  .brand {
    // Display
    display: flex;
    align-items: center;

    // Cursor
    cursor: pointer;

    .brandImage {
      position: relative;
      width: 2rem;
      height: 2rem;
    }

    .brandName {
      // Spacing
      margin-left: 1rem;

      h1 {
        // Text
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;

        span {
          // Text
          font-weight: 800;
        }
      }
    }
  }
}