@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.content {
  // Display
  display: flex;
  flex-wrap: wrap;

  // Sizing
  max-width: 100vw;
  overflow-x: hidden;

  // Flex
  flex: 1;

  .codeMirror {
    // Text
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;

    // Sizing
    height: calc(100vh - 7.5rem);
    width: 100%;
  }
}