@use "@/styles/config" as config;

.sideBar {
  // Display
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Flex
  flex: 0 1;

  // Spacing
  padding: 1rem .5rem;

  // Background
  background: #0d0d0d;

  .navItems {
    // Display
    display: flex;
    flex-direction: column;

    .navItem {
      // Display
      display: flex;
      flex-direction: column;
      align-items: center;

      // Border
      border-radius: 8px;

      // Spacing
      margin: .25rem 0;
      padding: .5rem;

      // Cursor
      cursor: pointer;

      // Transition
      transition: background-color .2s ease-in-out;

      // If has attribute: data-label add a label on hover
      &[data-label] {
        // Positioning
        position: relative;

        &:hover::after {
          // Content
          content: attr(data-label);

          // Display
          display: block;

          // Positioning
          position: absolute;
          top: 0;
          left: 2.5rem;

          // Spacing
          padding: .5rem;

          // Border
          border-radius: 8px;

          // Background
          background-color: rgba(0, 0, 0, .8);

          // Text
          font-size: small;
          font-weight: 700;
          text-transform: uppercase;

          // Index
          z-index: 10000;
        }
      }

      .hidden {
        // Display
        display: none;
      }

      &.hasDivider {
        // Spacing
        margin: 0;
      }

      &:hover {
        // Background
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }

  @media only screen and (max-width: config.getBreakpoint('lg')) {
    // Display
    flex-direction: row;

    // Flex
    flex: unset;

    // Sizing
    width: 100vw;
    height: fit-content;

    .navItems {
      // Display
      flex-direction: row;
      justify-content: center;
      align-items: center;

      // Sizing
      width: 100vw;

      hr {
        // Display
        display: none;
      }
    }
  }
}