.action {
  // Display
  display: flex;

  // Sizing
  width: 100%;

  .inputs, .buttons {
    // Display
    display: flex;
  }

  .inputs {
    div, input, select {
      // Border
      border-right: 1px solid black;
    }

    div {
      // Display
      display: flex;
      align-items: center;

      // Spacing
      padding: 0 .5rem;
      gap: .5rem;

      // Background
      background: rgba(255, 255, 255, 0.1);

      input {
        // Sizing
        background: none;

        // Border
        border-left: none;
        border-right: none;
      }
    }
  }

  .buttons {
    // Display
    display: flex;
    align-items: center;

    // Sizing
    height: auto;
    min-height: 1.25rem;

    // Spacing
    padding: 0 .5rem;
    gap: .5rem;

    // Background
    background: rgba(255, 255, 255, 0.1);

    > div {
      // Display
      display: flex;
      align-items: center;

      // Spacing
      padding: .5rem;

      // Cursor
      cursor: pointer;

      svg {
        // Text
        font-size: large;
        color: rgba(255, 255, 255, .75);

        // Transition
        transition: all .15s ease-in-out;

        &:hover {
          color: rgba(255, 255, 255, 1);
        }

        &.delete {
          color: rgba(255, 0, 0, .75);

          &:hover {
            color: rgba(255, 0, 0, 1);
          }
        }
      }
    }
  }
}
