@import "Action";

.inputs {
  // Sizing
  flex: 1;

  input {
    // Sizing
    flex: 1;
  }
}

.sourceType {
  // Text
  color: rgba(255, 255, 255, .75);

  // Cursor
  cursor: pointer;

  // Transition
  transition: all .15s ease-in-out;

  &:hover {
    // Text
    color: rgba(255, 255, 255, 1);
  }
}