$breakpoints: (
        'xs': 0,
        'sm': 576px,
        'md': 768px,
        'lg': 992px,
        'xl': 1200px,
        'xxl': 1400px
);
$maxColumns: 24;

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}
