@use "config" as config;

html, body {
  // Spacing
  margin: 0;
  padding: 0;

  // Text
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

@font-face {
  font-family: 'Minecraftia';
  src: url('/HUI-Builder/assets/Minecraft-Regular.ttf');
}

body {
  // Display
  display: flex;
  flex-direction: column;

  // Sizing
  min-height: 100vh;

  main {
    // Display
    display: flex;
    flex-wrap: wrap;

    // Flex
    flex: 1;

    @media only screen and (max-width: config.getBreakpoint('lg')) {
      flex-direction: column;
    }
  }
}

* {
  // Box sizing
  box-sizing: border-box;
}

a {
  // Text
  text-decoration: none;
  color: inherit;
}

// Input


select, input {
  // Spacing
  padding: .5rem;

  // Sizing
  max-width: 100%;

  // Background
  background: rgba(255, 255, 255, .1);

  // Border
  border: none;
}

select {
  option {
    // Border
    border: none;

    // Background
    background: #111;
  }
}

// Custom scrollbar
::-webkit-scrollbar {
  // Sizing
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  // Background
  background-color: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb {
  // Background
  background-color: rgba(255, 255, 255, .3);
}

::-webkit-scrollbar-thumb:hover {
  // Background
  background-color: rgba(255, 255, 255, .5);
}
