.content {
  // Display
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Sizing
  flex: 1;

  .image, .uploadButton {
    // Display
    display: flex;
    justify-content: center;
    align-items: center;

    // Overflow
    overflow-x: hidden;

    // Transition
    transition: background-color .2s ease-in-out;

    // Background
    background-color: rgba(255, 255, 255, .1);

    // Border
    border-radius: 12px;
  }

  .images {
    // Overflow
    overflow-y: auto;

    // Sizing
    max-width: 1000px;
    max-height: 600px;

    .image {
      // Display
      flex-direction: column;

      .img {
        // Display
        display: flex;
        justify-content: center;
        align-items: center;

        // Sizing
        max-height: 10rem;
        width: 100%;

        img {
          // Sizing
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .information {
        // Display
        display: flex;
        justify-content: center;
        align-items: center;

        // Sizing
        width: 100%;

        // Spacing
        gap: .5rem;
        padding: .5rem;

        // Background
        background-color: #111;

        svg {
          // Text
          font-size: large;

          // Cursor
          cursor: pointer;

          // Transition
          transition: color .2s ease-in-out;

          &:hover {
            // Text
            color: red;
          }
        }
      }
    }
  }

  .uploadButton {
    // Spacing
    gap: .5rem;
    padding: 1rem;

    // Cursor
    cursor: pointer;

    &:hover {
      // Background
      background-color: rgba(255, 255, 255, .2);
    }

    input {
      // Display
      display: none;
    }

    svg {
      // Text
      font-size: x-large;
    }
  }
}
