.content {
  // Display
  display: flex;
  flex-direction: column;

  // Sizing
  flex: 1;

  .setting {
    // Display
    display: flex;
    align-items: center;

    // Sizing
    width: 100%;

    // Spacing
    gap: .5rem;
    padding: .5rem;

    select {
      // Sizing
      width: 5rem;

      // Spacing
      padding: .5rem;

      // Background
      background: rgba(255, 255, 255, .1);

      // Border
      border: none;

      option {
        // Border
        border: none;

        // Background
        background: #111;
      }
    }

    &.column {
      // Display
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }
  }
}