@use "@/styles/config" as config;

.componentList {
  // Display
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Border
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  .header {
    // Display
    display: flex;
    align-items: center;

    // Spacing
    gap: .5rem;
    padding: .5rem 1rem;

    // Border
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    h3 {
      // Spacing
      margin: 0;

      // Text
      font-weight: 700;
      font-size: medium;
    }
  }

  .components {
    // Display
    display: flex;
    flex-direction: column;

    // Sizing
    height: 25vh;
    overflow-y: auto;

    // Spacing
    padding: 1rem;

    .component {
      // Display
      display: flex;
      align-items: center;

      // Spacing
      padding: .5rem 1.25rem;
      gap: .5rem;

      // Border
      border-left: 2px solid rgba(255, 255, 255, .1);

      // Sizing
      width: 100%;

      // Text
      font-size: smaller;
      font-weight: 400;

      // Cursor
      cursor: pointer;

      svg {
        // Text
        font-size: larger;
      }

      &:hover, &.selected {
        // Border
        border-color: rgba(255, 255, 255, .3);
        background: rgba(255, 255, 255, .05);
      }
    }
  }
}