.visualCanvas {
  // Display
  display: flex;
  justify-content: center;
  align-items: center;

  // Sizing
  flex: 1;

  // Background
  background: url("/HUI-Builder/assets/background.svg") no-repeat center center;
  background-size: cover;

  // Spacing
  padding: 2rem;

  canvas {
    // Sizing
    height: 100%;
    max-width: 100%;
    width: auto;
    aspect-ratio: 16 / 9;

    will-change: transform;

    // Background
    background: url("/HUI-Builder/assets/hui_backdrop.webp") no-repeat center center;
    background-size: cover;
  }
}