.visualButtons {
  // Spacing
  padding: 1rem;

  // Background
  background-color: rgb(23, 23, 23);

  // Border
  border-top: 1px solid rgba(255, 255, 255, .1);

  .header {
    // Display
    display: flex;
    justify-content: center;

    // Spacing
    margin-bottom: 1.25rem;

    // Sizing
    width: 100%;

    h2 {
      // Text
      font-weight: 500;
      font-size: larger;

      // Spacing
      margin: 0;
    }
  }

  .button {
    // Display
    display: flex;
    justify-content: center;
    align-items: center;

    // Sizing
    width: 100%;

    // Spacing
    padding: .5rem 1.25rem;
    gap: .5rem;

    // Border
    border-radius: 8px;

    // Background
    background-color: rgba(255, 255, 255, .1);

    // Cursor
    cursor: pointer;

    // Transition
    transition: background-color .2s ease-in-out;

    h3 {
      // Text
      font-weight: 400;
      font-size: medium;
    }

    &:hover {
      // Background
      background-color: rgba(255, 255, 255, .2);
    }
  }
}

.modalHeaderTitle {
  // Display
  display: flex;
  align-items: center;

  // Positioning
  position: relative;

  // Spacing
  gap: .5rem;

  a {
    // Display
    display: flex;
    align-items: center;
    justify-content: center;

    // Text
    color: inherit;
    text-decoration: none;

    svg {
      // Text
      font-size: x-large;
      color: rgba(255, 255, 255, .5);

      // Transition
      transition: color .2s ease-in-out;

      &:hover {
        // Text
        color: rgba(255, 255, 255, .8);
      }
    }
  }

  // If has attribute: data-label add a label on hover
  [data-label] {
    // Positioning
    position: relative;

    &:hover::after {
      // Content
      content: attr(data-label);

      // Display
      display: block;

      // Positioning
      position: absolute;
      top: 0;
      left: 2.5rem;

      // Spacing
      padding: .5rem;

      // Border
      border-radius: 8px;

      // Background
      background-color: rgba(0, 0, 0, .8);

      // Text
      font-size: small;
      font-weight: 700;
      text-transform: capitalize;

      // Index
      z-index: 10000;
    }
  }
}