.modal {
  // Display
  display: flex;
  justify-content: center;
  align-items: center;

  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  // Sizing
  min-width: 100vw;
  min-height: 100vh;

  // Background
  background-color: rgba(0, 0, 0, .5);

  .modalContent {
    // Display
    display: flex;
    flex-direction: column;

    // Sizing
    min-width: min(1000px, 100vw);
    min-height: min(600px, 100vh);

    // Background
    background-color: rgb(23, 23, 23);

    // Border
    border-radius: 12px;

    // Overflow
    overflow: hidden;

    // Transition
    transition: transform .2s ease-in-out;
    transform: scale(0);

    .header, .footer {
      // Display
      display: flex;
      justify-content: space-between;
      align-items: center;

      // Spacing
      padding: 1rem;

      // Background
      background-color: #111;
    }

    .body {
      // Display
      display: flex;
      flex-direction: column;

      // Sizing
      flex: 1;

      // Spacing
      padding: .5rem 1rem;
    }

    .header {
      h3 {
        // Spacing
        margin: 0;
      }

      .closeButton {
        // Display
        display: flex;
        justify-content: center;
        align-items: center;

        // Cursor
        cursor: pointer;

        // Transition
        transition: color .2s ease-in-out;

        svg {
          // Text
          font-size: x-large;
        }

        &:hover {
          // Text
          color: rgba(255, 255, 255, .45);
        }
      }

    }

    .footer {
      // Display
      display: flex;
      justify-content: flex-end;

      // Text
      color: rgba(255, 255, 255, .45);
    }
  }

  &.open {
    .modalContent {
      // Open Animation
      animation: openModal .2s forwards;
      transform-origin: center center;
    }
  }

  &.close {
    .modalContent {
      // Close Animation
      animation: closeModal .2s forwards;
      transform-origin: center center;
    }
  }

}

@keyframes openModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes closeModal {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}