.editModal {
  // Display
  display: flex;
  flex-direction: column;

  // Sizing
  height: min(100vh, 500px);

  .content {
    // Position
    position: relative;

    // Display
    flex: 1;

    // Overflow
    overflow-y: auto;
  }

  .saveButton {
    // Display
    display: flex;
    justify-content: center;
    align-items: center;

    // Spacing
    gap: .5rem;
    padding: .5rem;

    // Border
    border-radius: 8px;

    // Background
    background: rgba(255, 255, 255, .1);

    // Cursor
    cursor: pointer;

    // Transition
    transition: all .15s ease-in-out;

    &:hover {
      // Background
      background: rgba(255, 255, 255, .2);
    }
  }
}