.iconEditor {
  // Display
  display: flex;
  flex-direction: column;

  // Spacing
  gap: .5rem;

  .editable {
    // Display
    display: flex;
    width: 100%;

    .iconType {
      // Display
      display: flex;
      align-items: center;
      justify-content: center;

      // Spacing
      padding: 0 .5rem;

      // Cursor
      cursor: pointer;

      // Background
      background: rgba(255, 255, 255, 0.1);

      // Border
      border-right: 1.5px solid rgba(255, 255, 255, 0.2);

      // Transition
      transition: all .15s ease-in-out;

      &:hover {
        // Background
        background: rgba(255, 255, 255, 0.2);
      }
    }

    .inputs {
      // Display
      display: flex;
      flex: 1;
      align-items: center;

      input, select {
        width: 100%;
      }

      button {
        // Display
        display: flex;

        // Spacing
        padding: .5rem .75rem;

        // Border
        border: none;

        // Cursor
        cursor: pointer;

        // Background
        background: rgba(255, 255, 255, 0.1);

        // Transition
        transition: all .15s ease-in-out;

        &:hover {
          // Background
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
