.selector {
  // Display
  display: flex;
  flex-direction: column;

  // Positioning
  position: absolute;
  top: 0;
  left: 0;

  // Sizing
  width: 100%;
  height: 100%;

  // Border
  border-radius: 8px;

  // Overflow
  overflow-x: hidden;

  // Background
  background: rgba(0, 0, 0, .75);
  backdrop-filter: blur(4px);

  .header {
    // Display
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Sizing
    width: 100%;

    // Spacing
    padding: .5rem 1rem;

    // Background
    background: rgba(255, 255, 255, .1);

    // Text
    font-weight: 500;

    > div {
      // Display
      display: flex;
      justify-content: center;
      align-items: center;


      svg {
        // Text
        font-size: x-large;

        // Cursor
        cursor: pointer;

        // Transition
        transition: all .15s ease-in-out;

        &:hover {
          // Text
          color: rgba(255, 255, 255, .5);
        }
      }
    }
  }

  .images {
    // Overflow
    overflow-y: auto;

    .imageColumn {
      .image {
        // Display
        display: flex;
        flex-direction: column;

        // Background
        background: rgba(255, 255, 255, .1);

        // Border
        border-radius: 8px;

        // Sizing
        width: 100%;

        // Overflow
        overflow: hidden;

        .img {
          // Display
          display: flex;
          justify-content: center;
          align-items: center;

          // Sizing
          flex: 1;

          // Spacing
          padding: .5rem;

          &.uploadButton {
            // Spacing
            gap: .5rem;

            // Transition
            transition: all .15s ease-in-out;

            // Cursor
            cursor: pointer;

            &:hover {
              // Background
              background: rgba(255, 255, 255, .2);
            }
          }

          img {
            // Sizing
            width: 100%;
            height: 10rem;

            // Object Fit
            object-fit: contain;
          }
        }

        .buttons {
          // Display
          display: flex;

          .select, .delete {
            // Display
            display: flex;
            justify-content: center;
            align-items: center;

            // Spacing
            padding: .5rem;

            // Background
            background: rgba(0, 0, 0, .5);

            // Sizing
            width: 50%;

            // Cursor
            cursor: pointer;

            // Transition
            transition: all .15s ease-in-out;

            &:hover {
              // Background
              background: rgba(0, 0, 0, .75);
            }
          }

          .select {
            // Border
            border-right: 1px solid rgba(255, 255, 255, .1);
          }

          .delete {
            // Border
            border-left: 1px solid rgba(255, 255, 255, .1);
          }
        }
      }
    }
  }

}