@use "../../config";
@use "sass:math";

.column {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding: .5rem;

  &.noPadding {
    padding: 0;
  }

  &.debug {
    background: rgba(255, 0, 0, .25);
  }
}


@each $breakpoint, $screenWidth in config.$breakpoints {
  @media screen and (min-width: $screenWidth) {
    @for $i from config.$maxColumns through 1 {
      $div: math.div(config.$maxColumns, $i);
      $width: math.div(100%, $div);

      .column {
        &.#{$breakpoint}-#{$i},
        &%#{$breakpoint}-#{$i} {
          width: $width;
        }
      }
    }
  }
}

//@for $i from config.$maxColumns through 1 {
//  $div: math.div(config.$maxColumns, $i);
//  $width: math.div(100%, $div);
//
//  @each $breakpoint, $screenWidth in config.$breakpoints {
//    .column {
//      &.#{$breakpoint}-#{$i},
//      &%#{$breakpoint}-#{$i} {
//        @media screen and (min-width: $screenWidth) {
//          width: $width;
//        }
//      }
//    }
//  }
//}
