@use "../../config";
@use "sass:math";

.container {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;

  &.debug {
    background: rgba(255, 0, 0, .05);
  }

  @each $breakpoint, $screenWidth in config.$breakpoints {
    @media only screen and (min-width: $screenWidth) {
      $width: math.round(math.div(($screenWidth * .95), 10));

      // Make sure width is not less than 1
      @if $width > 0 {
        width: $width * 10;
      }
    }
  }

  &.fluid {
    width: 100%;
  }
}